{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}
{% block content %}
    <div class="pt-3">
        <h1 class="text-center">Profile Page</h1>
        <!--    request.user's data   -->
        <div class="d-flex justify-content-evenly pt-3 text-center">
            <div>
                <img style="width:250px; height:250px" class="img-fluid mb-3 rounded-3" src="{{ user.profile_picture.url }}" alt="Profile picture">
                <p><b>Username:</b> {{ user.username }}</p>
                <p><b>First Name:</b> {{ user.first_name }}</p>
                <p><b>Last Name:</b> {{ user.last_name }}</p>
                <p><b>Email:</b> {{ user.email }}</p>
                <p><b>Joined:</b> {{ user.date_joined|date:"M d, Y" }}</p>
                <a class="btn btn-outline-warning mt-3" href="{% url 'users:profile-edit' %}">Edit Profile</a>
            </div>
        </div>
    </div>
{% endblock content %}